/* # GOOGLE FONTS # */
@import url("");
/* # VARIABLES CSS # */
:root{
    --header-heigh: 3rem;

/* # COLORS # */
    --first-color: ;
    --first-color-dark: ;
    --text-color: ;
    --first-color-light: ;
    --first-color-lighten: ;

/* # FONT AND TYPOGRAPHY # */
--body-font:;

}
